.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.table {
  width: 1000px;
  text-align: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 15px;
}

.thead {
  background-color: #b4d99b;
}

.tr {
  background-color: #e0e9dc;
}

.submit {

  margin-right: 10px;
  margin-bottom: 10px;
}

.cancel {

  margin-left: 10px;
  margin-bottom: 10px;
}

.textcenter {
  text-align: center;
}
.bulkdelete{  background-color:#619f58;
  color: #FFF;
  border-color: #619f58;
  background-position: 7px 7px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  margin-top: 1px;
  padding-right: 10px;
  text-indent: 5px;
  margin-left: 270px;
}
.add-emp-icon-button {
  background-color: #619f58;
  color: #FFF;
  border-color: #50b822;
  background-position: 7px 7px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  margin-top: 1px;
  padding-right: 10px;
  text-indent: 5px;
}
.bulkdelete:disabled {
  background-color: #619f58;
  color: hwb(0 93% 4% / 0.59);
  border-color: #619f58;
}

.addemplopyee {
  margin-left: 270px;

  border: none;
  color: white;
  padding: 0px 7p;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: -17px;

}

.search {
  width: 305px;
  height: 40px;
  margin-left: 231px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search-bulk {
  width: 305px;
  height: 40px;
  margin-left: 272px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.updatebutton {

  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #06075d;
  /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.deltebutton {

  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #c00c1e;
  /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.header {
  font-size: 250%;
  background: #619f58;
  width: 100vw;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
}
.blur{
  filter: blur(2px) opacity(40%);
}
.modal-main {
  position: fixed;
  background: whitesmoke;
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.emp-content {
  overflow-y: scroll;
  height: 80vh;
}

.modelcancelbutton1 {
  margin-left: 330px;
  margin-top: 170px;
  background-color: #f32233;
  /* Green */
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.modelcancelbutton {
  margin-left: 170px;
  border: none;
  margin-top: 75px;
  position: fixed;
  background-color: #f33e22;
  width: 18%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
}

.modelokbutton {
  margin-left: 50px;
  border: none;
  margin-top: 75px;
  position: fixed;
  background-color: #91f322;
  width: 18%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  color: white;
}

.deletemsg {
  margin-top: 50px;
}

.triangle_down {
  position: relative;
  top: 6px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid rgb(244, 240, 240);
  border-top: 0.2em solid rgb(244, 240, 240);
  transform: rotate(-45deg);
  margin-right: 0em;
   margin-left: 0.5em
}
.triangle_up {
  position: relative;
  top: -3px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid rgb(244, 240, 240);;
  border-top: 0.2em solid rgb(244, 240, 240);;
  transform:  rotate(135deg);
  margin-right: 0em;
  margin-left: 0.5em;
}

.bulk-action {
  background-color: #619f58;
  color: #FFF;
  border-color: #50b822;
  background-position: 7px 7px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  margin-top: 1px;
  padding-right: 10px;
  text-indent: 5px;
  margin-left: 10px;
  width: fit-content;
}
.bulkdeleteCancel{
  background-color: #c00c1e;
  color: #FFF;
  border-color:#c00c1e;
  background-position: 7px 7px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  margin-top: 1px;
  padding-right: 10px;
  text-indent: 5px;
  margin-left: 10px;
  width: fit-content;
}

.dropdown-menu {
  background-color: white;
  transform: translateY(-2px);
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  color:black;
  
}
.dropdown-list {  
  
  background-color: white;
  /* transform: translateY(-2px); */
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;

}
.dropdown-menu:hover{
  background-color: #619f58;
}

.main {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

/* Hide the default checkbox */
input[type=checkbox] {
  visibility: hidden;
}

/* Creating a custom checkbox
based on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(251, 251, 251);
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  margin-left: 95px;
    margin-top: 7px;

}

/* Specify the background color to be
shown when hovering over checkbox */
.main:hover input ~ .geekmark {
  background-color: rgb(134, 138, 131);
}



/* Specify the background color to be
shown when checkbox is checked */
.main input:checked ~ .geekmark {
  background-color: green;
}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.geekmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Display checkmark when checked */
.main input:checked ~ .geekmark:after {
  display: block;
}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and 
showing only two border to make it look
like a tickmark */
.main .geekmark:after {
  left: 8px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.inputWidth{
  width: 420px;
  height: 32px;
  border-color: #b4d99b;
  /* border: #151514; */
  /* background-color: #e0e9dc; */
}

.dialogheader{
  background-color: #91f322;
  margin-top: -50px;
  height: 41px;
}
.removerow{
  margin-left: 11px;
  cursor: pointer;
  
}
.removerow:hover{
  background-color: hsla(108, 3%, 66%, 0.503);
  height: 5px;
}