.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table {
    width: 1000px;
    text-align: center;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 15px;
}
.submit{

  margin-right: 10px;
  margin-bottom: 10px;
  }
  .cancel{

    margin-left: 10px;
    margin-bottom: 10px;
  }
.textcenter
{
  text-align: center;
}
.addemplopyee{

  margin-left: 270px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.footer{
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.header {
  font-size: 250%;
  background: #beb8a4;
  width: 100vw;
  display: flex;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

